---
import Social from "./Social.astro";
const platform = "github";
const username = "abooayoob";
---

<style>
  footer {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
  <Social platform="twitter" username=`${username}` />
</footer>
